.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: firebrick;
  color:#ff9800;
}

table {
color: #361002;
border-radius: 5px;
overflow: hidden;
margin: 12px 0;
min-width: 300px;
background: #f4db9d;
}

.header-row {
  background: #34495E;
  color: #ff9800;
}

th, td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}

.stripe {
  background-color: #361002;
  color: #04ff34;
}
